---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on my <a href="{{site.author.googlescholar}}">Google Scholar</a> profile.</div>
{% endif %}

{% include base_path %}

<ul>
  <li>
    <b>Identifying Biases in Large Language Model Assessment of Linguistically Diverse Texts</b>
<br>
    Lionel Meng, Shamya Karumbaiah, <u>Vivek Saravanan</u>, Daniel Bolt<br>
    <i>Artificial Intelligence in Measurement and Education Conference (AIME-Con) 2025</i><br>
    <a href="https://aclanthology.org/2025.aimecon-wip.25/">Paper</a>
    <a href="https://github.com/trail-ai-lab/bias-audit">Code</a>
  </li>
</ul>



